* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  position: relative;
  color: red;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
